@page "/finance/inflation-eats-debt"

<PageTitle>Does inflation eat debt?</PageTitle>

<h1>Does Inflation Eat Debt?</h1>
<p class="lead">
    There is an idea that gets repeated a lot that inflation eats debt. This is not necessarily true.
    Inflation can eat debt, but it depends on the interest rate and the rate of inflation.
</p>
<p>
    This calculator lets you plug in the numbers so you can see for your self what works and what doesn't.
</p>

<div class="card-grid">
    <div class="card">
        <p class="card-title">Your Loan</p>
        <p class="card-text">The details of your loan. e.g. a personal loan or a mortgage, etc.</p>
        <div>
            <span>Amount:</span>
            <input type="number" placeholder="£" />
        </div>
        <div class="parameter">
            <span>Interest rate:</span>
            <input type="number" placeholder="%" />
        </div>
        <div class="parameter">
            <span>Term:</span>
            <input type="number" placeholder="years" />
        </div>
    </div>
    <div class="card">
        <p class="card-title">Your situation</p>
        <p class="card-text">These are details about your financial position.</p>
        <div class="parameter">
            <span>Overpayment:</span>
            <input type="number" placeholder="£" />
        </div>
        <div class="parameter">
            <span>Salary increase %:</span>
            <input type="number" placeholder="%" />
        </div>
        <div class="parameter">
            <span>Current inflation rate:</span>
            <input type="number" placeholder="%" />
        </div>
    </div>
    <div class="card">
        <p class="card-title">Investment Option</p>
        <p class="card-text">These are the details of any investment options you may have. The figure should be after tax, unless you are investing in an ISA.</p>
        <div class="parameter">
            <span>Investment returns:</span>
            <input type="number" placeholder="%" />
        </div>
    </div>
</div>
@code {

}
