<nav class="site-nav">
    <div class="site-search">
        <input type="search" placeholder="Search docs" aria-label="Search"/>
    </div>

    <div class="nav-section">
        <div class="nav-section-title">Finance</div>
        <ul class="nav-list">
            <li class="nav-list-item">
                <NavLink class="nav-list-link" href="finance/loan-repayments" Match="NavLinkMatch.All" @onclick="OnNavigate">Loan Repayments</NavLink>
            </li>
            <li class="nav-list-item">
                <NavLink class="nav-list-link" href="finance/inflation-eats-debt" @onclick="OnNavigate">Inflation eats debt?</NavLink>
            </li>
        </ul>
    </div>

    <div class="nav-section">
        <div class="nav-section-title">Unit Conversions</div>
        <ul class="nav-list">
            <li class="nav-list-item">
                <NavLink class="nav-list-link" href="unit-conversions/temperature" @onclick="OnNavigate">Temperature</NavLink>
            </li>
            <li class="nav-list-item">
                <NavLink class="nav-list-link" href="unit-conversions/distance" @onclick="OnNavigate">Distance</NavLink>
            </li>
        </ul>
    </div>

</nav>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnNavigate { get; set; }
}
