<nav class="site-nav">
    <div class="site-search">
        <input type="search" placeholder="Search docs" aria-label="Search documentation"/>
    </div>

    <div class="nav-section">
        <div class="nav-section-title">Getting started</div>
        <ul class="nav-list">
            <li class="nav-list-item">
                <NavLink class="nav-list-link" href="" Match="NavLinkMatch.All" @onclick="OnNavigate">Overview</NavLink>
            </li>
            <li class="nav-list-item">
                <NavLink class="nav-list-link" href="getting-started" @onclick="OnNavigate">Install and run</NavLink>
            </li>
        </ul>
    </div>

    <div class="nav-section">
        <div class="nav-section-title">Reference</div>
        <ul class="nav-list">
            <li class="nav-list-item">
                <NavLink class="nav-list-link" href="calculators" @onclick="OnNavigate">Calculators</NavLink>
            </li>
            <li class="nav-list-item">
                <NavLink class="nav-list-link" href="reference" @onclick="OnNavigate">Theme tokens</NavLink>
            </li>
        </ul>
    </div>

    <div class="nav-section nav-aux">
        <a class="nav-aux-link" href="https://github.com/just-the-docs/just-the-docs" target="_blank" rel="noopener">Just the Docs</a>
        <a class="nav-aux-link" href="https://github.com/colinmackay/calculators" target="_blank" rel="noopener">GitHub</a>
    </div>
</nav>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnNavigate { get; set; }
}
